/* Asterisk wildcard selector to override default styles added by the browser */
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Genaral styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: lightblue;
}

/* Main content */
main {
    background-color: lightgreen;
}

/* Footer */
footer {
    background-color: lightcoral;
}